#!/bin/bash

# {{ ansible_managed }}

set -e -o pipefail

echo ''
echo 'FAILED TESTS:'
echo ''

failed_tests=$(systemctl list-units --failed | grep 'tests of' | cut -d ' ' -f2)

if [ -z "$1" ]
then
    echo 'Provide a test-type to filter the output!'
    echo ''
    echo "$failed_tests"
else
    echo "$failed_tests" | grep "$1"
fi

echo ''
