# {{ ansible_managed }}
# ansibleguy.cicd_tester

[Unit]
Description=Timer to run {{ test }} of repository '{{ repo_name }}'

[Timer]
OnCalendar={{ tester.trigger.pylint.day }} {{ trigger_time_pylint }}:00
Persistent=false
WakeSystem=false

[Install]
WantedBy=multi-user.target


