# {{ ansible_managed }}
# ansibleguy.cicd_tester

[Unit]
Description=Timer to run test '{{ test }}' of repository '{{ repo_name }}'

[Timer]
OnCalendar={{ tester.trigger[test].day }} {{ trigger_time[test] }}:00
Persistent=false
WakeSystem=false

[Install]
WantedBy=multi-user.target


