# {{ ansible_managed }}
# ansibleguy.cicd_tester

[Unit]
Description=Service to run ansible molecule tests of repository '{{ repo_name }}'

[Service]
Type=oneshot
User={{ tester.user }}
Group={{ tester.user }}
ExecStart=/bin/bash -c "/usr/bin/timeout 3600 /bin/bash {{ tester.path.script }}/wrapper.sh 'molecule' '{{ repo_name }}'"
{% if ansible_distribution_version == '10' %}
StandardOutput=syslog
StandardError=syslog
{% else %}
StandardOutput=journal
StandardError=journal
{% endif %}
SyslogIdentifier=cicd_molecule_{{ repo_name }}

Environment="DOCKER_HOST={{ tester.docker.url }}"
