# {{ ansible_managed }}
# ansibleguy.cicd_tester

[Unit]
Description=Service to run {{ test }} tests of repository '{{ repo_name }}'
OnFailure=ansible-test-{{ test }}-{{ repo_name }}-fail.service

[Service]
Type=oneshot
User={{ tester.user }}
Group={{ tester.user }}
ExecStartPre=mkdir -p {{ tester.path.test }}/{{ test }}
ExecStartPre=rm -rf {{ tester.path.test }}/{{ test }}/{{ repo_name }}
ExecStart=/bin/bash -c "{{ tester.path.script }}/{{ test }}.sh '{{ repo_name }}' && echo 0 > {{ tester.rc.file }}{{ repo_name }}_{{ test }}.rc || echo "$?" > {{ tester.rc.file }}{{ repo_name }}_{{ test }}.rc"
{% if ansible_distribution_version == '10' %}
StandardOutput=syslog
StandardError=syslog
{% else %}
StandardOutput=journal
StandardError=journal
{% endif %}
SyslogIdentifier=cicd_{{ test }}_{{ repo_name }}
