# {{ ansible_managed }}
# ansibleguy.cicd_tester

[Unit]
Description=Service to run {{ test }} tests of repository '{{ repo_name }}'

[Service]
Type=oneshot
User={{ tester.user }}
Group={{ tester.user }}
ExecStartPre=mkdir -p {{ tester.path.test }}/{{ test }}
ExecStartPre=rm -rf {{ tester.path.test }}/{{ test }}/{{ repo_name }}
ExecStart=/bin/bash -c "{{ tester.path.script }}/wrapper.sh '{{ test }}' '{{ repo_name }}'"
{% if ansible_distribution_version == '10' %}
StandardOutput=syslog
StandardError=syslog
{% else %}
StandardOutput=journal
StandardError=journal
{% endif %}
SyslogIdentifier=cicd_{{ test }}_{{ repo_name }}
