# {{ ansible_managed }}
# ansibleguy.cicd_tester

[Unit]
Description=Service to handle test-failure for test {{ test }} of repository '{{ repo_name }}'

[Service]
Type=oneshot
User={{ tester.user }}
Group={{ tester.user }}
ExecStart=/bin/bash {{ tester.path.script }}/post_exec.sh '{{ tester.path.script }}/{{ test }}.sh' '{{ repo_name }}'
{% if ansible_distribution_version == '10' %}
StandardOutput=syslog
StandardError=syslog
{% else %}
StandardOutput=journal
StandardError=journal
{% endif %}
SyslogIdentifier=cicd_{{ test }}_{{ repo_name }}
