# {{ ansible_managed }}
# ansibleguy.cicd_tester

[Unit]
Description=Service to run {{ test }} of repository '{{ repo_name }}'

[Service]
Type=oneshot
User={{ tester.user }}
Group={{ tester.user }}
ExecStartPre=mkdir -p {{ tester.path.test }}/{{ test }}
ExecStartPre=rm -rf {{ tester.path.test }}/{{ test }}/{{ repo_name }}
ExecStart=/bin/bash {{ tester.path.script }}/{{ test }}.sh '{{ repo_name }}'
ExecStopPost=/bin/bash -c "if [[ \"$EXIT_STATUS\" != 0 ]];then {{ tester.path.script }}/{{ test }}.sh '{{ repo_name }}' 'FAILED-ENVIRONMENT';fi"
{% if ansible_distribution_version == '10' %}
StandardOutput=syslog
StandardError=syslog
{% else %}
StandardOutput=journal
StandardError=journal
{% endif %}
SyslogIdentifier=cicd_{{ test }}_{{ repo_name }}
