# {{ ansible_managed }}
# ansibleguy.cicd_tester

[Unit]
Description=Timer to run ansible {{ test }} tests of repository '{{ repo_name }}'

[Timer]
OnCalendar={{ tester.trigger.molecule.day }} {{ trigger_time_molecule }}:00
Persistent=false
WakeSystem=false

[Install]
WantedBy=multi-user.target


